<div id="message-<%= message.id %>">
  <% if message.user == current_user %>
    <%= render 'messages/message_current_user', message: message%>
  <% else %>
    <%= render 'messages/other_messages', message: message%>
  <% end %>
</div>
