// Specific CSS for your home-page
.home-background {
  background-color: $dark-green;
  height: 100vh;
  position: fixed;
  h1 {
    color: white;
    margin-bottom: 56px;
  }
  h5 {
    color: white;
    font-family: $body-font;
  }
  a {
    color: white;
    margin: 24px auto;
  }
}

@media(min-width: 480px){
  .home-background{
    width: inherit;
    height: inherit;
    border-radius: 14px;
  }
}

.catchphrase {
  margin-top: 172px;
  display: flex;
  flex-direction: column;
  svg {
    fill: white;
    width: 100px;
    height: 100px;
    margin: 32px auto;
  }
}
