.body{
  background-color: $dark-green;
}
.specie-container {
  background-color: $dark-green;
  height: 1000px;
  bottom: 0px;
}

.specie-header{
  position: relative;
  color: white;
  padding: 16px;

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  h3 {
    color: white;
  }
}

.plant-info{
  justify-content: left;
  align-items: flex-start;

  h3{
    border-bottom: 1px solid white;
  }
}

.water-drops {
  color: rgba(255, 255, 255, 0.342);
  font-size: 48px;

  i{
    margin-right: 16px;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
  }
}

.form-control{
  border-radius: 33px;
  text-align: center;
  border: 2px solid $dark-green;

  &::placeholder {
  font-family: $headers-font;
  color: $dark-green;

}
}

.add-plant-form {
  background-color: white;
  padding: 20px;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.3);
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 16px;
  margin-right: 16px;

  .button {
    background-color: $gold-yellow;
    border-radius: 33px;
    border-color: $gold-yellow;
    color: white;
    width: 96px;
    height: 32px;
    margin-left: 16px;
  }

  h3{
    color: $gold-yellow;
  }
}

.form-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
