.body{
  background-color: $dark-green;
}
.specie-container {
  background-color: $dark-green;
  min-height: 1100px;
  bottom: 0px;
}

.specie-header{
  position: relative;
  color: white;
  padding: 16px;

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    margin-top: 8px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

}

.specie-info{
  justify-content: left;
  align-items: flex-start;
  padding: 0px 18px;
  color: white;
}


.plant-title{
  margin-top: 8px;

}

.water-drops {
  color: white;
  font-size: 40px;
  i{
    margin-right: 16px;

  }
}

.water-drops-select {
  color: blue;
  text-shadow: #ffffff 1px 1px, #ffffff -1px 1px, #ffffff -1px -1px, #ffffff 1px -1px;
}

.water-drops-empty {
  color: white;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.exposure-details{
  display: flex;
  align-items: center;

  i{
    font-size: 32px;
    margin-right: 16px;
  }
  p{
    padding-top: 16px;
  }
}

.form-control{
  border-radius: 33px;
  text-align: center;
  border: 2px solid $dark-green;

  &::placeholder {
  font-family: $headers-font;
  color: $dark-green;

}
}

.add-plant-form {
  background-color: white;
  padding: 20px;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.3);
  color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 16px;
  margin-right: 16px;

  .button {
    background-color: $gold-yellow;
    border-radius: 33px;
    border-color: $gold-yellow;
    color: white;
    width: 96px;
    height: 32px;
    margin-left: 16px;
  }

  h3{
    color: $gold-yellow;
  }
}

.form-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
