<div class="plant-info">
  <div class="plant-title">
    <h3>About</h3>
  </div>
    <%= @specie.description %>
    <div class="water-needs">
      <div class="plant-title">
        <h3>Water needs</h3>
      </div>
      <div class="water-drops">
        <% if @specie.watering_frequency < 8 %>
          <p><i class="fas fa-tint" style="color: blue; "></i><i class="fas fa-tint"></i><i class="fas fa-tint"></i></p>
        <% elsif @specie.watering_frequency >= 8 && @specie.watering_frequency < 17 %>
          <p><i class="fas fa-tint" style="color: blue;"></i><i class="fas fa-tint" style="color: blue;"></i><i class="fas fa-tint"></i></p>
        <% else %>
          <p><i class="fas fa-tint" style="color: blue;"></i><i class="fas fa-tint" style="color: blue;"></i><i class="fas fa-tint" style="color: blue;"></i></p>
        <% end %>
      </div>
    </div>
    <div class="light-exposure">
      <div class="plant-title">
        <h3>Light exposure</h3>
      </div>
      <div class="exposure-details">
        <%= @specie.exposure %>
        <% if @specie.exposure == "sun" %>
          <p><i class="fas fa-sun"></i><strong>Sun</strong> exposure</p>
        <% elsif @specie.exposure == "half" %>
          <p><i class="fas fa-adjust"></i><strong>Half-shade</strong> exposure</p>
        <% else %>
          <p><i class="fas fa-circle"></i><strong>Shade</strong> exposure</p>
        <% end %>
      </div>
    </div>
</div>
