<div class="container">
  <div data-controller="search-species">
    <%= form_with url: species_path,
      method: :get,
      html: { class: 'search-bar', data: { search_species_target: 'form' } } do |f|
    %>
    <%= f.text_field :query,
      class: "form-control",
      placeholder: 'Type a plant species',
      value: params[:query],
      data: {
        search_species_target: 'input',
        action: 'keyup->search-species#update'}
    %>
     <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i>
    </button>
    <% end %>
    <div class="cards-list">
      <%= render 'list', species: @species %>
    </div>
  </div>

</div>
