<div id="button-menu" class="button-menu d-none">
  <%= link_to inline_svg_tag('calendar.svg'), calendar_path %>
  <%= link_to inline_svg_tag('logo-plant.svg'), root_path, class:"white-stroke" %>
  <%= link_to inline_svg_tag('plus.svg'), species_path %>
</div>
