
  <div class="plant-show-container">
    <div class="plant-info">
      <h2 style="color: white"><%= @plant.nickname %></h2>
      <p><%= @plant.specie.name %></p>
      <div class="plant-watering">
        <%=  image_tag("watering.png")  %>
        <p> Water in <br> 6(?) days</p>
      </div>
    </div>

    <div class="tabs-container">
      <!-- Tab links -->
      <div class="tab">
        <button class="tablinks top-left active-btn" data-tab="about">About</button>
        <button class="tablinks" data-tab="calendar">Calendar</button>
        <button class="tablinks" data-tab="friends">Friends</button>
      </div>
      <!-- Tab contents -->
      <div class="tab-contents">
        <div id="about" class="tabcontent active">
          <p><%= @plant.specie.description %></p>
        </div>

        <div id="calendar" class="tabcontent">
          <div id="calendarPlant" style="height: 600px;"></div>
        </div>

        <div id="friends" class="tabcontent">
          <p>Allo ? la friends list ?</p>
        </div>
      </div>
    </div>
  </div>
