<h1>Aquatura</h1>

<p>
  <%= @greeting %> dear friend, I am not gonna be home for a while could you take care of my plants ?
</p>

<div id="calendarPlant" style="height: 500px;" data-schedule="<%= @schedule.to_json %>"></div>
