.user-button {
  padding: 24px 22px;
  border-radius: 8px;
  margin-top: 20px;
  font-family: 'Comfortaa';
  font-size: 18px;
  width: 160px;
  text-align: center;
}

.add-button {
  border: 1px solid $gold-yellow;
  color: $gold-yellow;
}

.eplant-button {
  border: 1px solid $dark-green;
  color: $dark-green;
}

.send-button {
  background-color: $dark-green;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

.friends-btn {
  margin: 0 auto;
}
