// Calendar by plant
#calendarPlant {
  margin: 16px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  top: 88px;
  overflow-y: scroll;
}

.tui-full-calendar-month div:nth-child(2){
  height: 100%;
}

// navigation
.cal-active {
  background-color: lightgray;
  padding: 4px 8px;
}

.btn-border {
  border: 1px solid lightgray;
  border-radius: 20px;
}

// General calendar
#general-calendar {
  margin: 8px;
  overflow-y: scroll;
}

#general-calendar-menu {
  padding: 0px 8px;
  margin-top: 12px;
}

.user-calendar {
  background-color: white;
  box-shadow: 0 0 15px rgba(9, 87, 61, 0.3);
  border-radius: 8px;
  padding-top: 12px;
  h2 {
    padding: 0px 12px;
    text-align: center;
  }
}
