// Calendar by plant
#calendarPlant {
  margin: 16px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  top: 88px;
  overflow-y: scroll;
}

.tui-full-calendar-month div:nth-child(2){
  height: 100%;
}

.cal-active {
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: lightgray;
  padding: 4px 8px;
}

// General calendar
#general-calendar {
  margin: 8px;
  overflow-y: scroll;
}
