.exposure-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.exposure-item {
  flex: 0 0 30%;
  border-radius: 50%;
  margin-right: 8px;
  font-family: $headers-font;
}

.exposure-selector {
  position: absolute;
  transform: scale(0);
}

.exposure-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 16px 16px 16px 8px;
  border: 1px solid #EAEAEA;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  background-color: white;
}

.exposure-selector:checked + label {
  color: white !important;
}


#plant_exposure_sun + label {
  color: rgb(223, 226, 23);
  border: 2px solid rgb(223, 226, 23);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#plant_exposure_sun:checked + label {
  background-color: rgb(223, 226, 23);
  border: 2px solid rgb(223, 226, 23);
}


#plant_exposure_half + label {
  color: #6c6d3f;
  border: 2px solid #6c6d3f;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#plant_exposure_half:checked + label {
  background-color: #6c6d3f;
  border: 2px solid #6c6d3f;
}


#plant_exposure_shade + label {
  color: #000000;
  border: 2px solid #000000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#plant_exposure_shade:checked + label {
  background-color: #000000;
  border: 2px solid #000000;
}
