.modal-content {
  color: $dark-green;
  border: 1px solid $dark-green !important;
  border-radius: 5px;
}

#mail {
  border: 1px solid $dark-green;
  border-radius: 5px;
}

#duration {
  border: 1px solid $dark-green;
  border-radius: 5px;
}

@media(min-width: 480px){
  .swal-modal {
    width: 413px;
  }

  .modal-dialog {
    max-width: 410px;
  }
}
