.nav {
  height: 80px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;

  svg {
    width: 44px;
    height: auto;
    fill: $dark-green;
  }
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: $dark-green;
  width: 100%;
  height: 100vh;
  animation: opacity_toggle 0.3s forwards;
}

  // Toggle Button
  .nav__toggle {
    display:inline-block;
    position:fixed;
    z-index:10;
    padding:0;
    border:0;
    background:transparent;
    outline:0;
    right:15px;
    top:15px;
    cursor:pointer;
    border-radius:50%;
    transition:background-color .15s linear;
  }

.hidden {
  display: none;
}

.nav__menu {
  display:flex;
  flex-direction:column;
  justify-content:center;
  position:relative;
  width: 100%;
  height: 100%;
  list-style: none;
  padding-left: 0px;
}

  // Toggle Button
.nav__toggle {
  display:inline-block;
  position:absolute;
  z-index:10;
  right:15px;
  top:15px;
  transition: 1s;
}

.rotate {
  transform: rotate(225deg);
  fill: white;
}

.nav__link {
  color:white;
  display:block;
  text-align:center;
  text-transform:uppercase;
  letter-spacing:5px;
  font-size:1.25rem;
  text-decoration:none;
  padding:1rem;

  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
    outline:0;
    background-color:rgba(0,0,0,0.2);
  }
}


// ---------------------------
// SVG Menu Icon
// ---------------------------

.menuicon {
  display:block;
  cursor:pointer;
  color: $dark-green;

  transform:rotate(0deg);
  transition: .3s cubic-bezier(0.165, 0.840, 0.440, 1.000);

  &__bar,
  &__circle {
    fill:none;
    stroke: currentColor;
    stroke-width:3;
    stroke-linecap:round;
  }
  &__bar {
    transform: rotate(0deg);
    transform-origin:50% 50%;
    transition: transform .25s ease-in-out;
  }
  &__circle {
    transition: stroke-dashoffset .3s linear .1s;
    stroke-dashoffset:circumference(23); // 23 is the <circle>'s radius
    stroke-dasharray:circumference(23);
  }
}

// ---------------------------
// Active State
// ---------------------------

// .nav:target,
.nav--open {

  //scale the background circle to full size
  > .splash::after {
    transform:scale(1);
  }

  //animate the menu icon
  .menuicon {
    color:white;
    transform:rotate(180deg);

    &__circle {
      stroke-dashoffset:0;
    }
    &__bar:nth-child(1),
    &__bar:nth-child(4) {
      opacity:0;
    }
    &__bar:nth-child(2) {
      transform: rotate(45deg);
    }
    &__bar:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  //show the nav items
  .nav {
    &__menu {
      visibility:visible;
    }

    &__item {
      opacity:1;
      transform:translateY(0);
    }
  }
}
