.plant-show-container {
  height: calc(100vh - 80px);
}

.plant-info {
    padding: 16px;
    color: white;
    font-family: $headers-font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.plant-details {
  height: 100px;
}

#plant-img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  margin-top: 8px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.plant-watering {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    width: 25%;
    height: 87px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    a {
      text-align: center;
    }
    svg {
      width: 80%;
      margin-bottom: 3px;
    }
    p {
      text-align: center;
      margin-bottom: 0;
    }
}
