// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: rgb(250,250,250);
}

h1 {
  font-size: 40px;
  font-weight: 600;
  color: $dark-green;
}

h2 {
  font-weight: 600;
  color: $dark-green;
}
a:hover {
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
}

.container {
  margin-top: 16px;
}

.green-background {
  background-color: $dark-green;
}
